<IfModule mod_deflate.c>
	SetInputFilter DEFLATE
	<FilesMatch "\.(html?|php|css|js)$">
		SetOutputFilter DEFLATE
		Header set Vary *
	</FilesMatch>
	SetEnvIfNoCase Request_URI "\.(?:gif|jpe?g|png)$" no-gzip
</IfModule>
